name: Build manager

on:
  workflow_dispatch:

env:
  CCACHE_COMPILERCHECK: "%compiler% -dumpmachine; %compiler% -dumpversion"
  CCACHE_NOHASHDIR: "true"
  CCACHE_HARDLINK: "true"

jobs:
  build_debug:
    name: Build Debug APK
    runs-on: ubuntu-24.04
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build Debug
        run: |
          git clone https://github.com/FMAC-Team/nekosu.git -b test
          cd nekosu/app
          echo "BUILD_TIME=$(TZ=Asia/Shanghai date "+%Y%m%d%H%M")" >> $GITHUB_ENV
          {
            echo 'org.gradle.parallel=true'
            echo 'org.gradle.vfs.watch=true'
          } >> gradle.properties
          sed -i 's/org.gradle.configuration-cache=true//g' gradle.properties
          chmod +x gradlew
          ./gradlew clean assembleDebug

      - name: Upload Debug Artifact
        uses: actions/upload-artifact@v4
        with:
          name: debug-${{ env.BUILD_TIME }}
          path: nekosu/app/app/build/outputs/apk/debug/*.apk

  build_release:
    name: Build Release APK
    runs-on: ubuntu-24.04
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build Release
        run: |
          git clone https://github.com/FMAC-Team/nekosu.git -b test
          cd nekosu/app
          echo "BUILD_TIME=$(TZ=Asia/Shanghai date "+%Y%m%d%H%M")" >> $GITHUB_ENV
          {
            echo 'org.gradle.parallel=true'
            echo 'org.gradle.vfs.watch=true'
          } >> gradle.properties
          sed -i 's/org.gradle.configuration-cache=true//g' gradle.properties
          chmod +x gradlew
          ./gradlew clean assembleRelease

      - name: Upload Release Artifact
        uses: actions/upload-artifact@v4
        with:
          name: release-${{ env.BUILD_TIME }}
          path: nekosu/app/app/build/outputs/apk/release/*.apk
