name: Build LLVM

on:
  workflow_dispatch:

jobs:
  clone_llvm:
    name: sync llvm
    runs-on: ubuntu-24.04
    steps:
      - name: clean
        uses: AutoModality/action-clean@v1
      
      - name: Install build tools
        run: sudo apt-get update && sudo apt-get install -y git

      - name: Download OpenSSL Source
        run: |
          git clone https://android.googlesource.com/toolchain/llvm-project
          cd llvm-project
          git checkout 4c603efb0cca074e9238af8b4106c30add4418f6

      - name: Upload OpenSSL Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: llvm-project
          path: llvm-project


  build_llvm:
    name: install build tools
    needs: clone_llvm
    runs-on: ubuntu-24.04
    steps:
      - name: clean
        uses: AutoModality/action-clean@v1
      
      - name: set ndk
        uses: nttld/setup-ndk@v1
        with:
           ndk-version: r26d
      
      - name: Download arm64 Artifacts
        uses: actions/download-artifact@v4
        with:
          name: llvm-project
          path: llvm-project

      - name: setup tools
        run: |
          sudo apt update
          sudo apt install make cmake -y
          sudo apt install ninja-build

      - name: Build
        run: |
          cd llvm-project
          mkdir build
          cd build
          cmake ..
          make -j8
          mkdir android
          cd android
          cmake -DLLVM_ANDROID_TOOLCHAIN_DIR=${{ steps.setup-ndk.outputs.ndk-path }}  -DCMAKE_TOOLCHAIN_FILE=../../cmake/platforms/Android.cmake ../..  -DCMAKE_INSTALL_PREFIX=/root/clang-r450784
          make aarch64
          make install

      - name: Upload Debug Artifact
        uses: actions/upload-artifact@v4
        with:
          name: clang-r450784
          path: /root/clang-r450784
