name: Build LLVM

on:
  workflow_dispatch:

env:
      ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}


jobs:
  build_llvm:
    name: install build tools
    needs: clone_llvm
    runs-on: ubuntu-24.04
    steps:
      - name: clean
        uses: AutoModality/action-clean@v1
      
      - name: set ndk
        uses: nttld/setup-ndk@v1
        with:
           ndk-version: r26d
      
      - name: Download arm64 Artifacts
        run: |
         wget -O llvm.zip https://github.com/FMAC-Team/build_action/actions/runs/21583467052/artifacts/5340325663
         unzip llvm.zip

      - name: setup tools
        run: |
          sudo apt update
          sudo apt install make cmake -y
          sudo apt install ninja-build

      - name: Build
        run: |
          cd llvm-project
          mkdir build
          cd build
      #    cmake ../
     #     make -j8
          mkdir android
          cd android
          cmake -DLLVM_ANDROID_TOOLCHAIN_DIR=$ANDROID_NDK_HOME  -DCMAKE_TOOLCHAIN_FILE=../../cmake/platforms/Android.cmake ../../  -DCMAKE_INSTALL_PREFIX=/root/clang-r450784
          make aarch64
          make install

      - name: Upload Debug Artifact
        uses: actions/upload-artifact@v4
        with:
          name: clang-r450784
          path: /root/clang-r450784
