name: Build LLVM

on:
  workflow_dispatch:

jobs:
  build_llvm:
    name: install build tools
    runs-on: ubuntu-24.04
    steps:
      - name: clean
        uses: AutoModality/action-clean@v1
      
      - name: set ndk
        run: |
         wget https://dl.google.com/android/repository/android-ndk-r27d-linux.zip
         unzip android-ndk-r27d-linux.zip
         mv android-ndk-r27d /opt/android-ndk-r27d
         
      
      - name: Download arm64 Artifacts
        run: |
         wget -O llvm.zip https://github.com/FMAC-Team/build_action/raw/refs/heads/main/llvm-project.zip
         unzip llvm.zip

      - name: setup tools
        run: |
          sudo apt update
          sudo apt install make cmake -y
          sudo apt install ninja-build
          
      - name: Build
        env:
            ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
        run: |
          export ANDROID_NDK_HOME=/opt/android-ndk-r27d
          cmake -S ../../ -B build-android -DCMAKE_TOOLCHAIN_FILE=$ANDROID_NDK_HOME/build/cmake/android.toolchain.cmake   -DANDROID_ABI=arm64-v8a   -DANDROID_PLATFORM=android-21  -DCMAKE_BUILD_TYPE=Release   -DCMAKE_INSTALL_PREFIX=/root/clang-r450784

          cmake --build build-android --target install

      - name: Upload Debug Artifact
        uses: actions/upload-artifact@v4
        with:
          name: clang-r450784
          path: /root/clang-r450784
